
body {


    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-size: x-large;
    text-align: center;
    
}

#cabecera
{

    background-color: brown;
    text-decoration: underline;
    padding: auto;

}

#container{

    text-align: left;
    color: black;
    padding: 1em;
    border: 1px solid;
}